name: CI
on: [push]
jobs:
  format:
    name: Check code formatting with clang-format
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install clang-format
      run: |
        sudo apt-get update -q && sudo apt-get install -y clang-format
        clang-format --version

    - name: Run clang-format
      run: |
        find . -type f -regex ".*\.\(c\|h\)$" -not -path './vendor/*' -exec clang-format --style=Microsoft -i {} \;
        git diff --exit-code

  build:
    name: Build project
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update -q
        sudo apt-get install -y cmake build-essential

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTS=OFF -DBUILD_DESKTOP=OFF

    - name: Build
      run: cmake --build build --config Release

  test:
    name: Run tests
    runs-on: ubuntu-24.04
    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update -q
        sudo apt-get install -y cmake build-essential

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_DESKTOP=OFF

    - name: Build
      run: cmake --build build --config Debug

    - name: Run tests
      run: ctest --test-dir build --output-on-failure
